html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #ab3501;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

@font-face {
    font-family: bit;
    src: url('../fonts/bit-webfont.ttf');
}

@font-face {
    font-family: start;
    src: url('../fonts/start-webfont.ttf');
}

header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 200px;
}

header img {
    width: 100%;
    max-width: 200px;
    padding: 20px;
    margin: 0 auto;
}

#type {
    background-color: #6c6e6e;
}

.headline {
    font-family: 'bit';
    color: #040f5d;
    font-size: 1.5em;
}

.subhead {
    font-family: 'bit';
    color: #3c1601;
    font-size: 1.2em;
}

.paragraph {
    font-family: 'start';
}

#blue {
    width: 100px;
    height: 100px;
    background: #040f5d;
}

#orange {
    width: 100px;
    height: 100px;
    background: #ab3501;
}

#brown {
    width: 100px;
    height: 100px;
    background: #3c1601;
}

#gray {
    width: 100px;
    height: 100px;
    background: #6c6e6e;
}

#images img {
    width: 100%;
}

#clicks {
    background-color: #ab3501;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

footer {
    font-family: 'start';
    color: #ab0303;
    width: 100%;
}
