html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

#blue {
    width: 100px;
    height: 100px;
    background: #040f5d;
}

#orange {
    width: 100px;
    height: 100px;
    background: #ab3501;
}

#brown {
    width: 100px;
    height: 100px;
    background: #3c1601;
}

#gray {
    width: 100px;
    height: 100px;
    background: #6c6e6e;
}

#logo {
    width: 100%;
    max-width: 400px;
}

#images img {
    width: 100%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
